COMPOSE_PROJECT_NAME=moviesauthtests
DOCKER_USER_ID=1000
DOCKER_GROUP_ID=1000
GUNICORN_CMD_ARGS="-w 4 -b 0.0.0.0:5000"
POSTGRES_PASSWORD=app
POSTGRES_USER=app
POSTGRES_DB=auth
POSTGRES_HOST=db
REDIS_HOST=redis
SECRET_KEY=secret_key_here_change_me
TOKEN_SECRET_KEY=token_secret_key_here_change_me
AUTH_CONFIG=config.TestingConfig
